In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
import lightgbm as lgb
import gc

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [3]:
# 레이블 인코딩

str_col = ['day_of_week','start_turn_restricted','end_turn_restricted']
for i in str_col:
    le = LabelEncoder()
    le=le.fit(train[i])
    train[i]=le.transform(train[i])
    
    for label in np.unique(test[i]):
        if label not in le.classes_: 
            le.classes_ = np.append(le.classes_, label)
    test[i]=le.transform(test[i])

In [4]:
y_train = train['target'] 
X_train = train.drop(['id','base_date','road_name', 'start_node_name', 'end_node_name','vehicle_restricted'], axis=1)


X_test = test.drop(['id','base_date', 'road_name', 'start_node_name', 'end_node_name','vehicle_restricted'], axis=1)

print(X_train.shape)
print(y_train.shape)
print(X_test.shape)

(4701217, 17)
(4701217,)
(291241, 16)

In [5]:
X_train

,day_of_week,base_hour,lane_count,road_rating,multi_linked,connect_code,maximum_speed_limit,weight_restricted,height_restricted,road_type,start_latitude,start_longitude,start_turn_restricted,end_latitude,end_longitude,end_turn_restricted,target
0,1,17,1,106,0,0,60.0,32400.0,0.0,3,33.427747,126.662612,0,33.427749,126.662335,0,52.0
1,1,21,2,103,0,0,60.0,0.0,0.0,0,33.500730,126.529107,1,33.504811,126.526240,0,30.0
2,4,7,2,103,0,0,80.0,0.0,0.0,0,33.279145,126.368598,0,33.280072,126.362147,0,61.0
3,0,13,2,107,0,0,50.0,0.0,0.0,0,33.246081,126.567204,0,33.245565,126.566228,0,20.0
4,6,8,2,103,0,0,80.0,0.0,0.0,0,33.462214,126.326551,0,33.462677,126.330152,0,38.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4701212,1,16,1,107,0,0,50.0,0.0,0.0,0,33.422145,126.278125,0,33.420955,126.273750,0,20.0
4701213,1,2,2,107,0,0,80.0,43200.0,0.0,3,33.472505,126.424368,0,33.472525,126.424890,0,65.0
4701214,3,22,2,103,0,0,60.0,0.0,0.0,0,33.447183,126.912579,0,33.444121,126.912948,0,30.0
4701215,2,2,2,103,0,0,80.0,0.0,0.0,0,33.443596,126.431817,0,33.444996,126.433332,0,73.0
4701216,6,6,2,107,0,0,60.0,0.0,0.0,0,33.256785,126.508940,0,33.257130,126.510364,0,35.0

In [6]:
X_test

,day_of_week,base_hour,lane_count,road_rating,multi_linked,connect_code,maximum_speed_limit,weight_restricted,height_restricted,road_type,start_latitude,start_longitude,start_turn_restricted,end_latitude,end_longitude,end_turn_restricted
0,1,17,3,107,0,0,70.0,0.0,0.0,0,33.499427,126.541298,0,33.500772,126.543837,1
1,6,12,2,103,0,0,70.0,0.0,0.0,3,33.258507,126.427003,0,33.258119,126.415840,0
2,0,2,1,103,0,0,60.0,0.0,0.0,0,33.258960,126.476508,0,33.259206,126.474687,0
3,1,23,3,103,0,0,70.0,0.0,0.0,0,33.473494,126.545647,0,33.471061,126.545467,0
4,2,17,3,106,0,0,70.0,0.0,0.0,0,33.501477,126.569223,0,33.496863,126.581230,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291236,5,5,1,103,0,0,80.0,0.0,0.0,0,33.472819,126.463030,0,33.470483,126.460846,0
291237,0,20,2,103,0,0,60.0,0.0,0.0,0,33.305359,126.598914,0,33.300796,126.600332,0
291238,0,11,1,107,0,0,30.0,0.0,0.0,0,33.493624,126.496769,1,33.497500,126.496946,1
291239,0,7,2,107,0,0,60.0,0.0,0.0,0,33.254782,126.507014,0,33.255659,126.507333,0
291240,0,10,3,106,0,0,70.0,0.0,0.0,0,33.246996,126.524358,0,33.247053,126.523503,0

In [7]:
from pycaret.regression import *

In [8]:
X_train2 = X_train.loc[:800000, : ]

# 4백만개의 row를 한꺼번에 돌리니까 터지더라구요. 그래서 일부분만!

In [9]:
X_train2

,day_of_week,base_hour,lane_count,road_rating,multi_linked,connect_code,maximum_speed_limit,weight_restricted,height_restricted,road_type,start_latitude,start_longitude,start_turn_restricted,end_latitude,end_longitude,end_turn_restricted,target
0,1,17,1,106,0,0,60.0,32400.0,0.0,3,33.427747,126.662612,0,33.427749,126.662335,0,52.0
1,1,21,2,103,0,0,60.0,0.0,0.0,0,33.500730,126.529107,1,33.504811,126.526240,0,30.0
2,4,7,2,103,0,0,80.0,0.0,0.0,0,33.279145,126.368598,0,33.280072,126.362147,0,61.0
3,0,13,2,107,0,0,50.0,0.0,0.0,0,33.246081,126.567204,0,33.245565,126.566228,0,20.0
4,6,8,2,103,0,0,80.0,0.0,0.0,0,33.462214,126.326551,0,33.462677,126.330152,0,38.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799996,1,22,3,103,0,0,70.0,0.0,0.0,0,33.478257,126.468081,1,33.480679,126.472216,1,39.0
799997,4,13,2,107,0,0,80.0,0.0,0.0,0,33.472276,126.418443,0,33.472505,126.424368,0,69.0
799998,3,9,2,103,0,0,60.0,0.0,0.0,3,33.265065,126.372064,0,33.265140,126.372580,0,49.0
799999,2,17,1,106,0,0,60.0,0.0,0.0,0,33.529194,126.839578,0,33.496623,126.812152,0,45.0
800000,0,5,2,103,0,0,80.0,0.0,0.0,0,33.470372,126.902793,0,33.465318,126.908612,0,42.0

In [20]:
X_train2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800001 entries, 0 to 800000
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   day_of_week            800001 non-null  int32
 1   base_hour              800001 non-null  int64
 2   lane_count             800001 non-null  int64
 3   road_rating            800001 non-null  int64
 4   multi_linked           800001 non-null  int64
 5   connect_code           800001 non-null  int64
 6   maximum_speed_limit    800001 non-null  float64
 7   weight_restricted      800001 non-null  float64
 8   height_restricted      800001 non-null  float64
 9   road_type              800001 non-null  int64
 10  start_latitude         800001 non-null  float64
 11  start_longitude        800001 non-null  float64
 12  start_turn_restricted  800001 non-null  int32
 13  end_latitude           800001 non-null  float64
 14  end_longitude          800001 non-null  float64
 15  end_turn_restricted    800001 non-null  int32
 16  target                 800001 non-null  float64
dtypes: float64(8), int32(3), int64(6)
memory usage: 94.6 MB

In [10]:
# 불러온 pycaret 셋업하기

# https://ideal-dominate.medium.com/pycaret-regression-%EA%B0%99%EC%9D%B4-%ED%95%B4%EB%B4%90%EC%9A%94-eaf0e36268

sup = setup(X_train2, target = 'target' , train_size = 0.8 )

In [11]:
models()

,Name,Reference,Turbo
ID,,,
lr,Linear Regression,sklearn.linear_model._base.LinearRegression,True
lasso,Lasso Regression,sklearn.linear_model._coordinate_descent.Lasso,True
ridge,Ridge Regression,sklearn.linear_model._ridge.Ridge,True
en,Elastic Net,sklearn.linear_model._coordinate_descent.Elast...,True
lar,Least Angle Regression,sklearn.linear_model._least_angle.Lars,True
llar,Lasso Least Angle Regression,sklearn.linear_model._least_angle.LassoLars,True
omp,Orthogonal Matching Pursuit,sklearn.linear_model._omp.OrthogonalMatchingPu...,True
br,Bayesian Ridge,sklearn.linear_model._bayes.BayesianRidge,True
ard,Automatic Relevance Determination,sklearn.linear_model._bayes.ARDRegression,False
par,Passive Aggressive Regressor,sklearn.linear_model._passive_aggressive.Passi...,True
ransac,Random Sample Consensus,sklearn.linear_model._ransac.RANSACRegressor,False
tr,TheilSen Regressor,sklearn.linear_model._theil_sen.TheilSenRegressor,False
huber,Huber Regressor,sklearn.linear_model._huber.HuberRegressor,True
kr,Kernel Ridge,sklearn.kernel_ridge.KernelRidge,False
svm,Support Vector Regression,sklearn.svm._classes.SVR,False
knn,K Neighbors Regressor,sklearn.neighbors._regression.KNeighborsRegressor,True
dt,Decision Tree Regressor,sklearn.tree._classes.DecisionTreeRegressor,True
rf,Random Forest Regressor,sklearn.ensemble._forest.RandomForestRegressor,True
et,Extra Trees Regressor,sklearn.ensemble._forest.ExtraTreesRegressor,True
ada,AdaBoost Regressor,sklearn.ensemble._weight_boosting.AdaBoostRegr...,True
gbr,Gradient Boosting Regressor,sklearn.ensemble._gb.GradientBoostingRegressor,True
mlp,MLP Regressor,sklearn.neural_network._multilayer_perceptron....,False
xgboost,Extreme Gradient Boosting,xgboost.sklearn.XGBRegressor,True
lightgbm,Light Gradient Boosting Machine,lightgbm.sklearn.LGBMRegressor,True
catboost,CatBoost Regressor,catboost.core.CatBoostRegressor,True
dummy,Dummy Regressor,sklearn.dummy.DummyRegressor,True

In [23]:
# 모델 비교하기

compare_models()

XGBRegressor(base_score=0.5, booster='gbtree', callbacks=None,
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
             early_stopping_rounds=None, enable_categorical=False,
             eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
             importance_type=None, interaction_constraints='',
             learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
             max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
             missing=nan, monotone_constraints='()', n_estimators=100,
             n_jobs=-1, num_parallel_tree=1, objective='reg:squarederror',
             predictor='auto', random_state=4633, reg_alpha=0, ...)

In [24]:
# xgboost 나 rf로 하면 되겠다!

# Extra Trees Regressor 이나 Decision Tree Regressor도 써보면 좋겠다!

In [12]:
top1 = create_model('xgboost' , cross_valodation = False )

In [13]:
top2 = create_model( 'rf' , cross_validation = False )

      MAE      MSE    RMSE     R2   RMSLE    MAPE
0  4.1739  34.8425  5.9028  0.863  0.1768  0.1265

In [ ]:
# 파라미터 튜닝

tuned_xgboost = tune_model(top1 , optimize = 'RMSE' , n_iter = 10)
tuned_rf = tune_model(top2 , optimize = 'RMSE' , n_iter = 10  )

IntProgress(value=0, description='Processing: ', max=7)

Initiated  . . . . . . . . . . . . . . . . . .                   05:23:08
Status     . . . . . . . . . . . . . . . . . .  Searching Hyperparameters
Estimator  . . . . . . . . . . . . . . . . . .    Random Forest Regressor

Empty DataFrame
Columns: [Fold, MAE, MSE, RMSE, R2, RMSLE, MAPE]
Index: []

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.